<form class="smart-form client-form" (ngSubmit)="onSubmit(loginForm.value)" #loginForm="ngForm">
  <header>
    Sign In
  </header>
  <fieldset class="sign-in-section">
    <section>
      <label class="label">E-mail</label>
      <label class="input">
        <i class="icon-append fa fa-user"></i>
        <input type="email" name="email" #emailRef="ngModel" required ngModel>
        <div [hidden]="emailRef.valid || emailRef.pristine" class="alert alert-danger">
          Email is required
        </div>
      </label>
    </section>
    <section>
      <label class="label">Password</label>
      <label class="input">
        <i class="icon-append fa fa-lock"></i>
        <input type="password" name="password" #passwordRef="ngModel" required ngModel>
        <div [hidden]="passwordRef.valid || passwordRef.pristine" class="alert alert-danger">
          Password is required
        </div>
      </label>
      <div class="note">
        <a routerLink="/auth/forgot-password">Forgot password?</a>
      </div>
    </section>
  </fieldset>
  <footer>
    <button type="submit" class="btn btn-primary btn-lg btn-block" [disabled]="!loginForm.valid">Sign in</button>
  </footer>
  <section class="text-center">
    <h3>-- OR --</h3>
  </section>
  <div class="row">
    <div class="col-12 text-center">
      <a href="#" title="LinkedIn" (click)="subscribeToLogin()" class="btn btn-linkedin btn-sm"><i class="fa fa-linkedin fa-fw"></i>
        LinkedIn</a>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <blockquote class="txt-color-teal">
        <small>By clicking on Login, you are agreeing to Our Terms of Use and all other Privacy Policy</small>
      </blockquote>
    </div>
  </div>
</form>