<header id="header" class="animated fadeInDown">

  <div id="logo-group">
    <span id="logo">
      <img src="assets/img/logo.png" alt="LewiotAdmin"> </span>
  </div>

  <span id="extr-page-header-space">
    <a routerLink="/auth/register" class="btn btn-danger">Create account</a>
  </span>
</header>
<div id="main" role="main" class="animated fadeInDown login-background-1" style="
  background-color: #333333;
  background-image: url('https://www.transparenttextures.com/patterns/3px-tile.png')
">
  <div id="content" class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm" [ngSwitch]="switch_expression">
        <div class="row" style="min-height: 123px;">
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="#" class="d-block mb-4 h-100">
              <span [hidden]="true">-</span><img class="img-fluid img-thumbnail" src="/assets/img/student1.jpg" alt=""
                @fade *ngSwitchCase="1">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="#" class="d-block mb-4 h-100">
              <span [hidden]="true">-</span><img class="img-fluid img-thumbnail" src="/assets/img/student2.jpeg" alt=""
                @fade *ngSwitchCase="2">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="#" class="d-block mb-4 h-100">
              <span [hidden]="true">-</span><img class="img-fluid img-thumbnail" src="/assets/img/student3.jpg" alt=""
                @fade *ngSwitchCase="3">
            </a>
          </div>
        </div>
        <br>
        <div class="row" style="min-height: 123px;">
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="#" class="d-block mb-4 h-100">
              <span [hidden]="true">-</span><img class="img-fluid img-thumbnail" src="/assets/img/student4.jpeg" alt=""
                @fade *ngSwitchCase="4">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="#" class="d-block mb-4 h-100">
              <span [hidden]="true">-</span><img class="img-fluid img-thumbnail" src="/assets/img/student5.jpeg" alt=""
                @fade *ngSwitchCase="5">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="#" class="d-block mb-4 h-100">
              <span [hidden]="true">-</span><img class="img-fluid img-thumbnail" src="/assets/img/student6.jpeg" alt=""
                @fade *ngSwitchCase="6">
            </a>
          </div>
        </div>
        <br>
        <div class="row" style="min-height: 123px;">
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="#" class="d-block mb-4 h-100">
              <span [hidden]="true">-</span><img class="img-fluid img-thumbnail" src="/assets/img/student7.jpg" alt=""
                @fade *ngSwitchCase="7">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="#" class="d-block mb-4 h-100">
              <span [hidden]="true">-</span><img class="img-fluid img-thumbnail" src="/assets/img/student8.jpeg" alt=""
                @fade *ngSwitchCase="8">
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="#" class="d-block mb-4 h-100">
              <span [hidden]="true">-</span><img class="img-fluid img-thumbnail" src="/assets/img/student9.jpg" alt=""
                @fade *ngSwitchCase="9">
            </a>
          </div>
        </div>

      </div>
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
        <div class="well no-padding">
          <auth-login-form></auth-login-form>
        </div>
      </div>
    </div>
  </div>
</div>