<div class="show-loader" *ngIf="showLoader">
  <div>
    <i class="fa fa-5x fa-circle-o-notch fa-spin"></i>
    <h3> Product upload in progress ...</h3>
  </div>
</div>
<form id="checkout-form" class="smart-form" #productForm="ngForm" (ngSubmit)="editState ? updateJewel() : uploader.queue[0].upload()"
  *ngIf="!showLoader" enctype="multipart/form-data">
  <fieldset>
    <div class="row">
      <section class="col col-6">
        <label class="label">Jewel name</label>
        <label class="input"> <i class="icon-prepend fa fa-cubes"></i>
          <input type="text" #nameRef="ngModel" name="name" placeholder="Jewel name" [(ngModel)]="jewel.name">
        </label>
      </section>
      <section class="col col-6">
        <label class="label">Jewel code</label>
        <label class="input"> <i class="icon-prepend fa fa-cubes"></i>
          <input type="text" #nameRef="ngModel" name="code" placeholder="Jewel code" [(ngModel)]="jewel.code" [disabled]="editState"/>
        </label>
      </section>
    </div>
  </fieldset>

  <fieldset>
    <div class="row">
      <section class="col col-6">
        <label class="label">Gold Carate</label>
        <label class="input"> <i class="icon-prepend fa fa-cubes"></i>
          <input type="number" #nameRef="ngModel" name="goldCarat" placeholder="Gold Carat" [(ngModel)]="jewel.goldCarat" />
        </label>
      </section>

      <section class="col col-6">
        <label class="label">Jewel description</label>
        <label class="input">
        <input rows="3" type="text" name="description" placeholder="Description" [(ngModel)]="jewel.description"/>
      </label>
      </section>
    </div>
    <div class="row">
      <section class="col col-6">
        <label class="label">Percentage charge</label>
        <label class="input"> <i class="icon-prepend fa fa-cubes"></i>
          <input type="number" #nameRef="ngModel" name="percentageChrg" placeholder="making % and charge" [(ngModel)]="jewel.percentageChrg"/>
        </label>
      </section>
      <section class="col col-6">
        <label class="label">Gross Weight</label>
        <label class="input"> <i class="icon-prepend fa fa-cubes"></i>
          <input type="number" #nameRef="ngModel" name="grossWeight" placeholder="Gross Weight" [(ngModel)]="jewel.grossWeight"/>
        </label>
      </section>
    </div>
    <div class="row">
      <section class="col col-6">
        <label class="label">Net Weight</label>
        <label class="input"> <i class="icon-prepend fa fa-cubes"></i>
          <input type="number" #nameRef="ngModel" name="netWeight" placeholder="Net Weight" [(ngModel)]="jewel.netWeight"/>
        </label>
      </section>
      <section class="col col-6">
        <label class="label">Stone Weight</label>
        <label class="input"> <i class="icon-prepend fa fa-cubes"></i>
          <input type="number" #batchRef="ngModel" name="stoneWeight" placeholder="Stone Weight" [(ngModel)]="jewel.stoneWeight"/>
        </label>
      </section>
    </div>
    <div class="row">
      <section class="col col-6">
        <label class="label">beads Weight</label>
        <label class="input"> <i class="icon-prepend fa fa-cubes"></i>
          <input type="number" #nameRef="ngModel" name="beadsWeight" placeholder="Beads Weight" [(ngModel)]="jewel.beadsWeight"/>
        </label>
      </section>
      <section class="col col-6">
        <label class="label">Per gram weight</label>
        <label class="input"> <i class="icon-prepend fa fa-cubes"></i>
          <input type="number" #nameRef="ngModel" name="perGramWeight" placeholder="Per Gram Weight" [(ngModel)]="jewel.perGramWeight"/>
        </label>
      </section>
    </div>
  </fieldset>

  <fieldset>
    <section class="col col-4">
      <label class="label">City</label>
      <label class="input"> <i class="icon-prepend fa fa-cubes"></i>
          <input type="text" #nameRef="ngModel" name="name" placeholder="City" [(ngModel)]="jewel.city">
        </label>
    </section>
    <section class="col col-4">
      <label class="label">Branch</label>
      <label class="input">
          <input type="text" #nameRef="ngModel" name="branch" placeholder="Branch" [(ngModel)]="jewel.branch"/>
        </label>
    </section>

    <section class="col col-4">
      <label class="label">Image</label>
      <label for="address" class="input">
        <input type="file" ng2FileSelect [uploader]="uploader">
      </label>
    </section>

  </fieldset>
  <footer>
    <button type="submit" value="submit" [disabled]="!productForm.valid" class="btn btn-primary">
      Submit
    </button>
  </footer>
</form>